php/vendor/
php/.phpunit.cache/
php/build
.phpunit.result.cache
php/.phpunit.cache
php/build

ts/node_modules

!.idea
.idea/*.xml
.idea/.gitignore
.idea/kata-starter.iml
!.idea/runConfigurations/All_tests.xml
